<html>
<head>
	<title><%= title %>: A Node.js framework built on three core tenets: documentation, stability and balance</title>
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="<%= description %>">
	<link rel="stylesheet" type="text/css" href="/assets/css/global.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/home.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic,300' rel='stylesheet' type='text/css'>
	<link rel="icon" type="image/png" href="/assets/images/favicon.png?v=4" sizes="48x48">
</head>
<body>
	<%- include('../includes/navbar.html') %>
	<div class="container nav-padding">
		<section class="row">
			<div class="twelve columns">
				<%- contents %>
				<div class="cta-container">
					<a href="/v1/guides" class="btn cta lg">
						<div class="small">Read one of the</div>
						<div class="large">Perk Guides</div>
					</a>
					<a href="https://github.com/alarner/perk" class="btn lg">
						<div class="small">View the</div>
						<div class="large">Code on GitHub</div>
					</a>
				</div>
			</div>
		</section>
	</div>
	<div class="beliefs">
		<div class="container">
			<section class="row">
				<div class="six columns">
					<h3>Good tools have good docs. Period.</h3>
					<p>We believe that developer tools are only as good as their worst piece of documentation. Perk aims to always have complete, up to date and friendly documentation, so you're never stuck up the creek without a paddle.</p>
				</div>
				<div class="six columns">
					<h3>Committed to <em>not</em> making your life harder.</h3>
					<p>Lots of dev tools claim to make your life easier. The Perk rule of thumb is that it should never be harder to do something using Perk than to roll it on your own. Perk strikes a balance between providing a handful of useful pre-built features out of the box, but not forcing them down your throat.</p>
				</div>
			</section>
			<section class="row">
				<div class="six columns">
					<h3>Stability over features.</h3>
					<p>Perk is built on stable, tried and true libraries including Passport, Express, Redis and Knex. It may never have the flavor of the month JavaScript features, but we promise that you won't have to re-learn it every 30 days either.</p>
				</div>
				<div class="six columns">
					<h3>Programming should be fun and relaxing.</h3>
					<p>We believe that programming should be fun, relaxing and exciting, not stressful or tedious. Perks goal is to help you get past the tedious stuff, so that you can spend more time on the unique and interesting challenges of your specific project.</p>
				</div>
			</section>
		</div>
	</div>
	<div class="container">
		<h2>Perk Perks!</h2>
		<section class="row benefits">
			<div class="six columns">
				<h4>User authentication system</h4>
				<p>Pre-built and customizeable login &amp; registration pages that support email / password authentication as well as common OAuth providers like Google, Twitter, Facebook, GitHub, etc.</p>

				<h4>Database connections</h4>
				<p>Using <a href="http://knexjs.org/">Knex</a> and <a href="http://bookshelfjs.org/">Bookshelf</a>, Perk supports a variety of relational databases including MySQL, PostgreSQL, MSSQL, SQLite, etc. You also get well built ORM, query builder migrations and transaction support.</p>

				<h4>Configuration system</h4>
				<p>The configuration system allows you to add new configuration options as well as override default values locally or based on environment.</p>

				<h4>Error handling</h4>
				<p>Errors within Perk are all specified within a JSON configuration file, making it easy to change them on either the front-end or backend.</p>
			</div>
			<div class="six columns">
				<h4>Front-end toolchain</h4>
				<p>Perks built-in lightweight toolchain allows ES6 to ES5 transpilation using <a href="https://babeljs.io/">Babel</a>. It also supports JSX, Sass and front-end modules using either CommonJS or ES6 style imports / exports.</p>

				<h4>Simple deployment to heroku</h4>
				<p>Get your app up and running quickly by following a few steps to deploy to Heroku. Perk uses a standardized node set-up so no special customization is necessary to depoy with Heroku.</p>

				<h4>Flash messages</h4>
				<p>The perk flash message library provides a nice and easy way to pass data between pages. It's especially useful for handling errors.</p>
			</div>
		</section>
		<section class="row">
			<div class="twelve columns bottom-cta">
				<h2>Think Perk is worth a look?</h2>
				<div class="cta-container">
					<a href="/v1/guides" class="btn lg">
						<div class="small">Read one of the</div>
						<div class="large">Perk Guides</div>
					</a>
					<a href="https://github.com/alarner/perk" class="btn lg">
						<div class="small">View the</div>
						<div class="large">Code on GitHub</div>
					</a>
					<a href="/v1/video-reel" class="btn lg">
						<div class="small">Watch a</div>
						<div class="large">Perk Reel Video</div>
					</a>
				</div>
			</div>
		</section>
	</div>
	<%- include('../includes/footer.html') %>
	<script type="text/javascript" src="/assets/scripts/link-fix.js"></script>
	<script type="text/javascript" src="/assets/scripts/track-outbound-link.js"></script>
	<%- include('../includes/ga.html') %>
</body>
</html>