<html>
<head>
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="<%= description %>">
	<link rel="stylesheet" type="text/css" href="/assets/css/global.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/home.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic,300' rel='stylesheet' type='text/css'>
	<link rel="icon" type="image/png" href="/assets/images/favicon.png" sizes="48x48">
</head>
<body>
	<%- include('../includes/navbar.html') %>
	<div class="container">
		<h1><%= title %></h1>
		<section class="row">
			<div class="twelve columns">
				<%- contents %>
			</div>
		</section>
		<section class="row">
			<%
				collections
				.group
				.forEach(function(group){ %>
					<% if(group.group && collections[group.group] && collections[group.group].length) { %>
						<div class="four columns group">
							<a href="<%= group.path %>" class="title"><%= group.title %></a>
							<ul>
								<% 
									collections[group.group]
									.filter(function(content) {
										return (content.path.substr(-11) !== '/index.html');
									})
									.slice(0, 4)
									.forEach(function(content) { %>
									<li><a href="<%= content.path %>" class="list-item"><%= content.title %></a></li>
								<% }); %>
								<li><a href="<%= group.path %>" class="list-item">Full List...</a></li>
							</ul>
						</div>
					<% } %>
				<% }); %>
		</main>
	</div>
</body>
</html>