<html>
<head>
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="<%= description || '' %>">
	<link rel="stylesheet" type="text/css" href="/assets/css/global.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/topic.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic,300' rel='stylesheet' type='text/css'>
	<link rel="icon" type="image/png" href="/assets/images/favicon.png" sizes="48x48">
</head>
<body>
	<%- include('../includes/navbar.html') %>
	<main class="row nav-padding">
		<%- include('../includes/topics.html') %>
		<section class="eight columns">
			<div class="topic-contents">
				<h1><%- title %></h1>
				<%- contents %>

				<%
				collections[group]
				.forEach(function(group){ %>
					<% if(!group.group || !collections[group.group] || !collections[group.group].length) { %>
						<h3><a href="<%= group.path %>"><%= group.title %></a></h3>
						<p><%= group.description %></p>
					<% } %>
				<% }); %>
			</div>
		</section>
	</main>
	<script type="text/javascript" src="/assets/scripts/link-fix.js"></script>
	<%- include('../includes/ga.html') %>
</body>
</html>