<html>
<head>
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="<%= description || '' %>">
	<link rel="stylesheet" type="text/css" href="/assets/css/global.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/topic.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic,300' rel='stylesheet' type='text/css'>
</head>
<body>
	<%- include('../includes/navbar.html') %>
	<main class="row">
		<%- include('../includes/topics.html', {
			topics: collections[group],
			current: {
				title: title
			}
		}) %>
		<section class="eight columns">
			<div class="topic-contents">
				<h1><%- title %></h1>
				<%- contents %>
			</div>
		</section>
	</main>
	<script type="text/javascript" src="/assets/scripts/prism.js"></script>
</body>
</html>