<footer>
	<div class="container">
		<section class="row">
			<%
				collections
				.group
				.forEach(function(group){ %>
					<% if(group.group && collections[group.group] && collections[group.group].length && collections[group.group].metadata && collections[group.group].metadata.homepage) { %>
						<div class="four columns">
							<a href="<%= group.path %>" class="footer-title"><%= group.title %></a>
							<ul>
								<% 
									collections[group.group]
									.filter(function(content) {
										return (
											content.path.substr(-11) !== '/index.html'
										);
									})
									.slice(0, 4)
									.forEach(function(content) { %>
									<li><a href="<%= content.path %>" class="footer-link"><%= content.title %></a></li>
								<% }); %>
								<li><a href="<%= group.path %>" class="footer-link">Full List...</a></li>
							</ul>
						</div>
					<% } %>
				<% }); %>
		</section>
	</div>
</footer>