<nav class="navbar">
	<a href="/" class="logo"><img src="/assets/images/logo-transparent.png"></a>
	<%
		var g = null;
		var pieces = path.split('/');
		if(pieces.length >=3) {
			g = pieces[2].toLowerCase();
		}
	%>
	<% collections.group.forEach(function(group){ %>
		<% if(group.group && collections[group.group] && collections[group.group].length) { %>
			<a href="<%= group.path %>"<%- g === group.group ? ' class="active"' : '' %>><%= group.title %></a>
		<% } %>
	<% }); %>
	<a href="https://github.com/alarner/perk" class="right-nav">Code on GitHub</a>
</nav>