$primary: #7CC197;
$alternate: #fff;
$heading: #575D67;
$paragraph: #5E5E5E;
$highlight: #f8f8f8;
$button: #e2e2e2;
$button-hover: #575D67;
$callout: #DC4070;
$border: #efefef;
$link: darken(#7CC197, 20%);