@import 'colors';

body {
	margin-top: 9.2rem;
	@media(min-width: 771px) {
		margin-top: 4.6rem;
	}

	.navbar {
		top: 0;
	}
}

body.email {
	margin-top: 20.4rem;
	@media(min-width: 769px) {
		margin-top: 14.6rem;
	}
	@media(min-width: 771px) {
		margin-top: 10rem;
	}

	.navbar {
		top: 11.2rem;

		@media(min-width: 769px) {
			top: 5.4rem;
		}
	}
}

#email {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	
	#mc_embed_signup {
		background: $callout;
		color: #fff;
		width: auto;
		padding: 0 1rem;
		form {
			margin: 0;
		}

		.email {
			border: 1px solid $alternate;
			border-radius: 0;
			width: 100%;
			margin: 5px 0;

			@media (min-width: 769px) {
				margin: 0 0 0 1rem;
				width: 300px;
			}
		}

		.button {
			background: #fff;
			color: $paragraph;
			font-weight: bold;
			width: 100%;

			@media (min-width: 769px) {
				width: auto;
			}
		}
	}
	border-bottom: 2px solid darken($callout, 10%);

	.close {
		color: lighten($callout, 30%);
		font: 14px/100% arial, sans-serif;
		position: absolute;
		right: 5px;
		text-decoration: none;
		text-shadow: 0 1px 0 lighten($callout, 5%);
		top: 5px;

		&:after {
			content: '✖';
		}
	}
}