@import 'colors';

#email {
	display: none;
	
	#mc_embed_signup {
		background: $callout;
		color: #fff;
		width: auto;
		padding: 0 1rem;
		form {
			margin: 0;
		}

		.email {
			border: 1px solid $alternate;
			border-radius: 0;
			width: 100%;
			margin: 5px 0;

			@media (min-width: 768px) {
				margin: 0 0 0 1rem;
				width: 300px;
			}
		}

		.button {
			background: #fff;
			color: $paragraph;
			font-weight: bold;
		}
	}
	border-bottom: 2px solid darken($callout, 10%);

	.close {
		color: lighten($callout, 30%);
		font: 14px/100% arial, sans-serif;
		position: absolute;
		right: 5px;
		text-decoration: none;
		text-shadow: 0 1px 0 lighten($callout, 5%);
		top: 5px;

		&:after {
			content: '✖';
		}
	}
}