@import 'config';
.navbar {
	background-color: $primary;
	overflow: hidden;
	width: 100%;
	z-index: 1;

	@media (min-width: 768px) {
		position: fixed;
		top: 0;
		left: 0;
	}

	a {
		display: block;
		float: left;
		line-height: 3.125em;
		color: lighten($primary, 40%);
		padding: 0 1em;

		&:hover {
			background-color: darken($primary, 5%);
			color: #fff;
		}

		@media (min-width: 825px) {
			&.right-nav {
				float: right;
			}
		}
	}

	.logo {
		img {
			margin-top: 0.8rem;
			max-height: 3.2rem;
			opacity: 0.7;
		}
		&:hover {
			background-color: transparent;
		}
	}

	.active {
		background-color: darken($primary, 10%);
	}
}

.nav-padding {
	// margin-top: 4.6rem;
}