@import 'config';
.navbar {
	background-color: $primary;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;

	a {
		display: block;
		float: left;
		line-height: 3.125em;
		color: lighten($primary, 40%);
		padding: 0 1em;

		&:hover {
			color: #fff;
		}

		@media (min-width: 624px) {
			&.right-nav {
				float: right;
			}
		}
	}

	.logo {
		img {
			margin-top: 0.65rem;
			max-height: 3.4rem;
			opacity: 0.7;
		}
	}

	.active {
		background-color: darken($primary, 10%);
	}
}

.container.nav-padding {
	padding-top: 4.6rem;
}