@import 'config';
@import 'navbar';
@import '../../node_modules/skeleton-scss/scss/base/normalize';
@import '../../node_modules/skeleton-scss/scss/base/base-styles';
@import '../../node_modules/skeleton-scss/scss/modules/grid';
@import '../../node_modules/skeleton-scss/scss/modules/forms';
@import '../../node_modules/skeleton-scss/scss/modules/tables';

body {
	margin: 0;
}
nav {
	&.topics {
		background-color: $alternate;
	}
}

.container {
	width: 90%;
}

.columns {
	margin-bottom: $column-margin;
}

.btn {
	display: inline-block;
	background: $button;
	padding: 1rem;
	border-radius: 0.5rem;
	color: $paragraph;

	&:hover {
		background: darken($button, 60%);
		color: #fff;
	}

	&.cta {
		background: darken($primary, 10%);
		color: #fff;

		&:hover {
			background: darken($primary, 20%);
			color: #fff;
		}
	}


	div {
		text-align: center;

		&.small {
			font-size: 14px;
		}

		&.large {
			font-size: 20px;
		}
	}

	&.lg {
		min-width: 24rem;
	}
}

h1 {
	color: $heading;
	font-weight: 400;
}

h2, h3, h4, h5, h6 {
	color: $paragraph;
}

p {
	color: $paragraph;
}

a {
	text-decoration: none;
}

.list-item {
	display: block;
	line-height: 2.8em;
	padding: 0 1em;
	border-bottom: 1px solid #ccc;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #878787;

	&:hover {
		background-color: #F9F9F9;
	}
}

img {
	max-width: 100%;
}

blockquote {
	padding: 0 15px;
	color: #777;
	border-left: 4px solid #ddd;
	margin: 0;
	margin-bottom: 16px;

	&>:first-child {
		margin-top: 0;
	}

	&>:last-child {
		margin-bottom: 0;
	}
}

ul, ol {
	padding-left: 2em;
	margin-top: 0;
	margin-bottom: 16px;

	> li {
		display: list-item;
		text-align: -webkit-match-parent;
		color: $paragraph;
		line-height: 1.6;
	}
}

body {
	pre {
		background-color: #F7F7F7;
		padding: 1.5em;
		white-space: pre-wrap;

		code {
			background-color: transparent;

			&::before {
				content: '';
			}

			&::after {
				content: '';
			}
		}
	}

	code {
		background-color: rgba(0,0,0,0.04);
		padding: 0.2em 0;

		&[class*="language-"] {
			text-shadow: none;
			white-space: pre-wrap;
		}

		&::before {
			letter-spacing: -0.2em;
			content: "\00a0";
		}

		&::after {
			letter-spacing: -0.2em;
			content: "\00a0";
		}
	}
}