@import 'colors';
@import 'config';
@import '../../node_modules/skeleton-scss/scss/base/normalize';
@import '../../node_modules/skeleton-scss/scss/base/base-styles';
@import '../../node_modules/skeleton-scss/scss/modules/grid';
@import '../../node_modules/skeleton-scss/scss/modules/forms';
@import '../../node_modules/skeleton-scss/scss/modules/code';

body {
	margin: 0;
}
nav {
	&.navbar {
		height: 3.125em;
		background-color: $primary;
	}

	&.topics {
		height: 3.125em;
		background-color: $alternate;
	}
}

.container {
	width: 90%;
}

.columns {
	margin-bottom: $column-margin;
}

h1 {
	color: $heading;
	font-weight: 400;
	text-align: center;
}

h2 {
	color: $paragraph;
}

p {
	color: $paragraph;
}

a {
	text-decoration: none;
}