@import 'config';
@import 'navbar';
@import '../../node_modules/skeleton-scss/scss/base/normalize';
@import '../../node_modules/skeleton-scss/scss/base/base-styles';
@import '../../node_modules/skeleton-scss/scss/modules/grid';
@import '../../node_modules/skeleton-scss/scss/modules/forms';

body {
	margin: 0;
}
nav {
	&.topics {
		background-color: $alternate;
	}
}

.container {
	width: 90%;
}

.columns {
	margin-bottom: $column-margin;
}

h1 {
	color: $heading;
	font-weight: 400;
}

h2 {
	color: $paragraph;
}

p {
	color: $paragraph;
}

a {
	text-decoration: none;
}

.list-item {
	display: block;
	line-height: 2.8em;
	padding: 0 1em;
	border-bottom: 1px solid #ccc;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #878787;

	&:hover {
		background-color: #F9F9F9;
	}
}

img {
	max-width: 100%;
}

blockquote {
	padding: 0 15px;
	color: #777;
	border-left: 4px solid #ddd;
	margin: 0;
	margin-bottom: 16px;

	&>:first-child {
		margin-top: 0;
	}

	&>:last-child {
		margin-bottom: 0;
	}
}

ul, ol {
	padding-left: 2em;
	margin-top: 0;
    margin-bottom: 16px;

    > li {
		display: list-item;
		text-align: -webkit-match-parent;
		color: $paragraph;
		line-height: 1.6;
	}
}