@import 'config';

h1 {
	font-size: 5rem;
	font-weight: 100;
	margin: 12rem 0 0 0;
}

h2 {
	font-size: 2.5rem;
	font-weight: 100;
	margin: 0 0 8rem 0;
	color: lighten($heading, 20%);
}

h4 {
	font-weight: 100;
	font-size: 2rem;
}

u {
	a {
		color: lighten($heading, 20%);
	}
}

@media (min-width: 934px) {
	h1, h2 {
		text-align: center;
	}
}

.cta-container {
	text-align: center;
	margin: 2rem 0;

	

	.btn {
		display: block;

		&:first-child {
			margin-bottom: 2rem;
		}
	}

	@media (min-width: 605px) {
		.btn {
			display: inline-block;

			&:first-child {
				margin-right: 1rem;
			}
			&:last-child {
				margin-left: 1rem;
			}
		}
	}
}

.beliefs {
	background: #f3f3f3;
	padding: 6rem 0;
	margin-bottom: 6rem;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;

	.container {
		background: #fff;
		padding: 3rem 0 0 0;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
		border-radius: 0.2rem;

		.row {
			padding: 0 3rem;
		}
	}
}

.benefits {

	h4 {
		padding-left: 3rem;
		position: relative;
		&:before {
			content: '';
			height: 1.4rem;
			width: 1.4rem;
			background: $primary;
			display: block;
			position: absolute;
			transform: rotate(45deg);
			top: 0.85rem;
			left: 0;
			border-radius: 3px;
			-webkit-box-shadow: 1px -1px 0px 1px darken($primary, 25%);
			-moz-box-shadow: 1px -1px 0px 1px darken($primary, 25%);
			box-shadow: 1px -1px 0px 1px darken($primary, 25%);
		}
	}

	p {
		padding-left: 3rem;
		font-size: 1.4rem;
		font-style: italic;
		color: lighten($paragraph, 20%);
		font-weight: 100;
	}
}

.bottom-cta {
	h2 {
		padding-top: 2rem;
		margin-top: 2rem;
		border-top: 1px solid $border;
	}
}