@import 'config';

u {
	a {
		color: #5E5E5E;
	}
}

.group {
	background-color: #E8E8E8;
	border-radius: $global-radius;
	padding: 0 0 1em 0;
	overflow: hidden;

	.title {
		display: block;
		color: #FDFDFD;
		padding: 1em;
		margin: 0;
		background-color: #666666;
		text-transform: uppercase;

		&:hover {
			background-color: #333;
			color: #E6E6E6;
		}
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	li {
		&:last-child {
			a {
				border-bottom: none;
				font-weight: bold;
			}
		}
	}
}