@import 'config';

u {
	a {
		color: #5E5E5E;
	}
}

.group {
	background-color: #E8E8E8;
	border-radius: $global-radius;
	padding: 0 0 1em 0;
	overflow: hidden;

	.title {
		display: block;
		color: #FDFDFD;
		padding: 1em;
		margin: 0;
		background-color: #666666;
		text-transform: uppercase;

		&:hover {
			background-color: #333;
			color: #E6E6E6;
		}
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	li {
		a {
			display: block;
			line-height: 2.625em;
			padding: 0 1em;
			border-bottom: 1px solid #ccc;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			color: #878787;

			&:hover {
				background-color: #F9F9F9;
			}
		}

		&:last-child {
			a {
				border-bottom: none;
				font-weight: bold;
			}
		}
	}
}