@import 'prism';
@import 'config';

.topics {
	border-right: 1px solid $border;
	.list-item{
		padding-left: 2em;

		&::before {
			content: '\0203A';
			position: relative;
			left: -10px;
		}

		&:first-child {
			padding-left: 1em;

			&::before {
				content: '';
			}

		}

		&:last-child {
			border-bottom: none;
		}

		&.active {
			background-color: $highlight;
			font-weight: bold;
		}
	}

	@media ($bp-larger-than-phablet) {
		height: 100%;
		margin-bottom: 0;
	}
}

.topic {
	border-left: 1px solid $border;
	margin-left: -1px;
	padding-left: 4%;
	margin-bottom: 0;
	padding-bottom: 4%;
}

.topic-contents {
	padding: 0 8%;
	max-width: 550px;

	iframe {
		max-width: 100%;
	}
}

@media ($bp-larger-than-phablet) {
	.topic-contents {
		padding-left: 0;
	}
}