@import 'prism';
@import 'config';

body {
	background-image: -webkit-gradient(linear,
		left top,
		right top,
		color-stop(0, $alternate),
		color-stop(30.66667%, $alternate),
		color-stop(30.66667%, #fff),
		color-stop(100%, #fff)
	);
	background-image: -webkit-linear-gradient(
		left,
		$alternate,
		$alternate 30.66667%,
		#fff 30.66667%,
		#fff 100%
	);
	background-image: -moz-linear-gradient(
		left,
		$alternate,
		$alternate 30.66667%,
		#fff 30.66667%,
		#fff 100%
	);
	background-image: -ms-linear-gradient(
		left,
		$alternate,
		$alternate 30.66667%,
		#fff 30.66667%,
		#fff 100%
	);
	background-image: -o-linear-gradient(
		left,
		$alternate,
		$alternate 30.66667%,
		#fff 30.66667%,
		#fff 100%
	);
}

.topics {
	.list-item{
		padding-left: 2em;

		&::before {
			content: '\0203A';
			position: relative;
			left: -10px;
		}

		&:first-child {
			padding-left: 1em;

			&::before {
				content: '';
			}

		}

		&:last-child {
			border-bottom: none;
		}

		&.active {
			background-color: $highlight;
			color: #FFFFFF;
		}
	}

	@media ($bp-larger-than-phablet) {
		height: 100%;
		margin-bottom: 0;
	}
}

.topic-contents {
	padding-right: 8%;
	max-width: 550px;
}

pre {
	background-color: #F7F7F7;
	padding: 1.5em;
}

code[class*="language-"] {
	text-shadow: none;
	white-space: pre-wrap;
}